@charset "utf-8";
img {
  position: absolute;
  top:  50px; 
  left: 50px;
}
img {
  position: absolute;
  top:  350px; 
  left: 250px;
}
img3 {
  position: absolute;
  top:  50px; 
  left: 50px;
}
img4 {
  position: absolute;
  top:  50px; 
  left: 50px;
}
img5 {
  position: absolute;
  top:  50px; 
  left: 50px;
}
img6 {
  position: absolute;
  top:  50px; 
  left: 50px;
}